@media (max-width: 768px) {
    #nav-tabs-container ul.nav-tabs {
        display: none;
    }
    #nav-tabs-container2 ul.nav-tabs {
        display: none;
    }
}

.nav {
    padding-left: 0 !important;
}

.card {
    background-color: rgba(240, 240, 240, 0);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #FFFFFF;

}

.text-verdeb {
    color: #5CFAA9;
}

th,
td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgba(240, 240, 240, 0.401);
    color: #FFFFFF;
}

.bg-glass{
    background-color: rgba(240, 240, 240, 0);
    border-radius: 20px !important;
}

th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

th:first-child,
td:first-child {
    text-align: left;
}

tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

.weekdays {
    margin-bottom: 20px;
}

/* Estilos personalizados */
.tp-select {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    /* Color de fondo semi-transparente */
    color: rgb(0, 0, 0);
    /* Color de texto blanco */
    /* Opacidad del texto */
}

html body.bg-calendario {
    background: url(../../../../almacenamiento/disciplinas/bg-calendario.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

/* .nav.nav-tabs .nav-item .nav-link.active {
    background-color: rgba(32, 17, 44, 1);
    border-radius: 0.25rem 0.25rem 0 0;
    color: rgb(205, 0, 255);
} */

.nav.nav-tabs .nav-item .nav-link.active {
    background-color: rgba(32, 17, 44, 0);
    border-radius: 0.25rem 0.25rem 0 0;
    color: #5CFAA9;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs .nav-link.active {
    border-color: transparent !important;
}