html body.bg-full-screen-image {
    background: url(../../almacenamiento/img/bg.jpg) no-repeat center center;
    background-size: cover;
}

html body.bg-full-screen-image-insan3 {
    background: url(../../almacenamiento/insan3/pre_registro/bg.jpg) no-repeat center center;
    background-size: cover;
}

html body {
    background: white;
}

.b3-ux-v2 {
    background: url(../../assets/img/background/banner-08.jpg) no-repeat top;
    background-size: cover;
}


/* Regla para estilizar los errores en las formas */
label.has-error {
    font-size: 0.8rem;
    color: #DA4453;
    padding-left: 0.5rem;
}

html body.bg-full-screen-image {
    background: url(../../almacenamiento/img/bg.jpg) no-repeat center center fixed;
}

/* Regla para corregir el texto de los custom file inputs */
.custom-file-label::after {
    content: "Examinar"
}

.p_dt {
    padding-right: .7rem !important;
}

.app-content.center-layout {
    overflow: visible;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.header-navbar .navbar-wrapper {
    width: 100%;
    max-height: 70px !important;
}

.nav-link {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-transform: uppercase;
}

.nav-active {
    color: gray;
}

.menu-principal ul {
    line-height: 80px;
}

.menu-principal li a {
    color: rgba(255, 255, 255, 1);
}

.b3-ux-v2-fondo {
    margin-top: 220px !important;
    background: rgba(255, 255, 255, 1);
    padding: 40px;
    border-radius: 14px;
}



/* Corrigue el error de por que el select2 no se valida con el JavaScrip para validar formularios 02/Jun/2020*/
.was-validated .custom-select:invalid+.select2 .select2-selection {
    border-color: #dc3545 !important;
}

.was-validated .custom-select:valid+.select2 .select2-selection {
    border-color: #28a745 !important;
}

*:focus {
    outline: 0px;
}

.select2-container--classic .select2-results__options .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__options .select2-results__option[aria-selected=true] {
    background-color: #006EBE !important;
    color: #FFFFFF !important;
}

.select2-results__options[id*="color_texto"] .select2-results__option:nth-child(1) {
    color: rgba(80, 80, 80, 1);
}

.select2-results__options[id*="color_texto"] .select2-results__option:nth-child(2) {
    color: rgba(0, 0, 205, 1);
}

.select2-results__options[id*="color_texto"] .select2-results__option:nth-child(3) {
    color: rgba(178, 34, 34, 1);
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: rgb(76, 79, 91) !important;
    border-color: rgb(76, 79, 91) !important;
    color: #FFFFFF;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.menu-movil {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    list-style: none;
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}


.modal-content-2 {
    background-color: none;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;
}


.navbar-light {
    background: none;
}


.modal-header .close {
    padding: 2rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.no-border {
    border: 0;
    box-shadow: none;
    /* You may want to include this as bootstrap applies these styles too */
}

.input-cap {
    text-transform: capitalize;
}

.btn-horario {
    padding: 10px 25px;
    background: rgba(125, 117, 116, 1);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 rgba(100, 100, 100, 0);
}

.nav.nav-tabs .nav-item .nav-link.active {
    background-color: rgba(32, 17, 44, 1);
    border-radius: 0.25rem 0.25rem 0 0;
    color: rgba(27, 237, 245, 1);
}

.editable-cell:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.editable-cell input {
    min-width: 160px;
}

.editable-cell select {
    min-width: 160px;
}

.table-hover tbody tr {
    transition: all ease 50ms;

}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.table tbody tr {
    transition: all ease 50ms;

}

.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.custom-button {
    background-color: #ffffff;
    /* Color de fondo rojo */
    color: #000000;
    /* Color de texto blanco */
    /* Otros estilos que desees aplicar */
}

/* Contenedor que envuelve ambas columnas */
.row-contenedor {
    display: flex;
    position: relative;
}

/* Divisor vertical */
.divisor-vertical {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: -11px;
    width: 1px;
    background-color: #cecece;
    /* Color de la línea divisoria */
    margin-left: -30px;
    /* Ajusta el margen para centrar la línea */
}

.img-segmento {
    background: url(../../almacenamiento/beat.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-segmento-puebla {
    background: url(../../almacenamiento/beat-puebla.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-segmento-polanco {
    background: url(../../almacenamiento/beat-polanco.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-reportes {
    border: 1px solid rgba(36, 78, 147, 0.235);
}

.bg-reportes:hover {
    border: 1px solid #45AFDA;

    .btn-reportes {
        background-color: #45AFDA;
        color: #FFFFFF;
        border: 1px solid #45AFDA;
    }
}

.btn-reportes {
    background-color: rgba(255, 255, 255, 0.783);
    border: 1px solid #45AFDA;
}

/* JS: <div class="loader"></div> */
.loader-wrapper {
    position: fixed;
    /* Fija el loader en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    /* Asegura que esté al frente de todo */
}

.loader {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, rgb(36, 78, 147) 94%, #ffffff) top/8px 8px no-repeat,
        conic-gradient(#ffffff 30%, rgb(36, 78, 147));
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13 {
    100% {
        transform: rotate(1turn);
    }
}

div.dataTables_wrapper div.dataTables_length,
div.dataTables_wrapper div.dataTables_info {
    display: inline-block;
    margin-right: 20px;
    /* Ajusta según tus necesidades */
    vertical-align: sub;
    /* Asegura la alineación vertical */
}

div.dataTables_wrapper div.dataTables_filter {
    float: right;
}

.text-warning {
    color: red !important;
}

.bg-beatness {
    background-color: rgb(28, 0, 48);
    color: rgb(0, 228, 255);
}

.text-beatness {
    color: rgb(0, 228, 255);
}

.modal-content {
    height: 700px;
    /* Ajusta esta altura a lo que prefieras */
    overflow-y: auto;
    /* Habilita el desplazamiento vertical si el contenido excede la altura */
}

.este {
    height: 40em;
    line-height: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    border-right: 1px solid;
}

.badge {
    display: inline-block;
    padding: 0.5em 0.75em;
    margin: 0.2em;
    border-radius: 12px;
    font-size: 0.85em;
}

.badge-disponible {
    background-color: #28a745;
    /* Verde para disponible */
    color: white;
}

.badge-reservado {
    background-color: #dc3545;
    /* Rojo para reservado */
    color: white;
}

.cupos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
}

.list-group-item-action {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.list-group-item-action:hover {
    background-color: #007bff; /* Cambia este color a tu preferencia */
    color: #ffffff; /* Cambia el color del texto al pasar el cursor */
}

.list-group-item-action.active-tab {
    background-color: #007bff; /* Mismo color del hover */
    color: #ffffff;
}